@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media screen and (min-width: 820px ) {
body {
    width: 100%;
    margin: 0%;
    background-color: #edf1f8;
}
/*  */
/*  */
.mobile_menu {
display: none;
}

.about_section1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 135px;
    position: absolute;
    width: 100%;
    height: 529px;
    top: 150px;
}

.about_section1 .gambar{
    margin-left: -0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px; 
    width: 400px;
    height: 400px;   
    background: #CBD2E0;    
    box-shadow: 8px 8px 32px rgba(113, 125, 150, 0.5);
    border-radius: 28px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.about_section1 .gambar img {
    width: 100%;
    height: 100%;
    background: url(KEBI-logos_transparent);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.about_section1 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    
    width: 570px;
    height: 409px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about_section1 .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    
    /* width: 100%; */
    /* height: 289px; */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about_section1 .text h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin-bottom: 40px;
    width: 100%;
    height: 67px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #1A202C;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about_section1 .text h2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin-top: 10%;
    width: 100%;
    height: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    letter-spacing: -0.01em;
    font-feature-settings: 'calt' off;
    color: #1A202C;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.about_section1 .text .logo {
    margin-top: 20%;
    /* margin-top: 30px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    letter-spacing: 0.01em; 
    color: #1A202C;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.about_section1 .text .logo img{
    width: 72px;
    height: 72px;
    
    filter: drop-shadow(8px 8px 32px rgba(74, 84, 104, 0.5));
    border-radius: 50px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
/*  */   

.header {
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 12px 12px;
/* gap: 345px; */
position: absolute;
width: 100%;
height: 111px;
left: 0px;
top: 0px;
background: #FBE1FF;
border-bottom: 0.3px solid #171717
}

.header .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 35%;
    height: 87px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header .menu .logo {
    width: 10%;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header .menu .logo img {
    width: 87px;
    height: 87px;
}

.header .menu .list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 45px;
    width: 25%;
    height: 24px;
    margin-left: 40px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header .menu .list .beranda{
    text-decoration: none;
    width: 50px;
    height: 24px;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: 'calt' off;
    color: #171717;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header .menu .list .program{
    margin-left: 10px;
    text-decoration: none;
    width: 50px;
    height: 24px;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: 'calt' off;
    color: #171717;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header .menu .list .article{
    margin-left: 10px;
    text-decoration: none;
    width: 50px;
    height: 24px;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: 'calt' off;
    color: #171717;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header .menu .list .about{
    border-bottom: 2px solid;
    text-decoration: none;
    width: 50px;
    height: 24px;
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    font-feature-settings: 'calt' off;
    color: #171717;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header .search_auth {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0px;
    gap: 51px;   
    width: 50%;
    height: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header .search_auth .search{
    display: none;
    justify-content: center;
    align-items: center;
    width: 5%;
}

.header .search_auth .user_option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 50%;
    height: 48px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header .search_auth .user_option .masuk{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    width: 107px;
    height: 48px;
    border: 1px solid #171717;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header .search_auth .user_option .masuk a{
    text-decoration: none;
    width: 100%;
    height: 24px;    
    font-family: 'Archivo', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    text-transform: capitalize;
    color: #171717;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.header .search_auth .user_option .daftar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    width: 107px;
    height: 48px;
    background: #DB88F2;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header .search_auth .user_option .daftar a{
    text-decoration: none;
    
    width: 59px;
    height: 24px;
    
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    text-transform: capitalize;
    color: #171717;
    flex: none;
    order: 0;
    flex-grow: 0;
    
}


.about_section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
    height: 1200px;
    top: 600px;
    margin-left: 2.5%;
    width: 90%;
    display: flex;
    left: 1%;
    }
    
    
    .about_section2 .vision .background  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 34px 24px 67px 450px;
        gap: 12px;
        margin-top: 4%;
        position: absolute;
        width: 50%;
        height: 355px;
        left: 0%; 
        top: 150px;
        background: #CBD2E0;    
        box-shadow: 8px 8px 32px rgba(74, 84, 104, 0.5);
        border-radius: 28px;
    }
    
    .about_section2 .vision h1{
        
        /* padding-top: 10px; */
        width: 20%;
        display: flex;
        padding-left: 4%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        margin-top: 0px;
        margin-bottom: 0px;    
        color: #1A202C;
        
    }
    
    .about_section2 .vision p {
    display: flex;
    padding-left: 4%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.01em;
    font-feature-settings: 'calt' off;
    color: #1A202C;
    }
    
    
    .about_section2 .vision .image2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4%;
    box-sizing: border-box;
    
    position: absolute;
    width: 400px;
    height: 400px;
    left: 2.5%;
    top: 100px;
    background: #EDF0F7;
    border: 2px solid #2D3648;
    border-radius: 28px;
    }
    

    .about_section2 .vision .image2 img{
    width: 396px;
    height: 410px;
    border-radius: 28px;
    }
    
    .about_section2 .mission .image2 img{
        width: 396px;
        height: 396px;
        border-radius: 28px;
    }
    
    .about_section2 .mission .background  {
        margin-right: 100%;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 34px 24px 67px 450px;
        gap: 12px;
        position: absolute;
        width: 50%;
        height: 355px;
        left: 0%;
        top: 750px;
        background: #CBD2E0;
        box-shadow: 8px 8px 32px rgba(74, 84, 104, 0.5);
        border-radius: 28px;
    }
    
    .about_section2 .mission h1{
        padding-top: 10px;
        display: flex;
        padding-left: 4%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #1A202C;
    }
    
    .about_section2 .mission p {
    display: flex;
    padding-left: 4%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    letter-spacing: -0.01em;
    font-feature-settings: 'calt' off;
    color: #1A202C;
    }
    
    .about_section2 .mission .text {
        width: 70%;
    }
    .about_section2 .vision .text {
        width: 70%;
    }
    
    
    .about_section2 .mission .image2 {
    margin-top: 4%;
    box-sizing: border-box;
    
    position: absolute;
    width: 400px;
    height: 400px;
    left: 2.5%;
    top: 700px;
    background: #EDF0F7;
    border: 2px solid #2D3648;
    border-radius: 28px;
    }






.about_section3{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 72px;
    position: absolute;
    width: 100%;
    height: 800px;
    top: 1950px;
}

.about_section3 .introduce {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 4px;
width: 100%;
height: 97px;
flex: none;
order: 0;
flex-grow: 0;
}

.about_section3 .introduce h1 {
margin-bottom: 0%;
width: 100%;
height: 58px;   
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
text-align: center;
letter-spacing: 0.01em;
color: #1A202C;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.about_section3 .founder {
    width: 90%;
}

.about_section3 .founder .founder1 .founders1 .penemu1{
float: left;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 24px;
width: 48%;
height: 204px;
box-shadow: 8px 8px 32px rgba(113, 125, 150, 0.5);
border-radius: 28px;
flex: none;
order: 0;
flex-grow: 0;
margin-left: 2%;
}

.about_section3 .founder .founder1 .founders1 .penemu1 h1{
    display: flex;
    font-family: 'Inter';   
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #1A202C;
}

.about_section3 .founder .founder1 .founders1 .penemu1 .image1 {
    box-sizing: border-box;
    width: 185px;
    height: 180px;
    background: #EDF0F7;
    border: 2px solid #2D3648;
    border-radius: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
} 

.about_section3 .founder .founder1 .founders1 .penemu3 {
    margin-right: -6%;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 24px;
    width: 48%;
    height: 204px;
    box-shadow: 8px 8px 32px rgba(113, 125, 150, 0.5);
    border-radius: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
    }

    .about_section3 .founder .founder1 .founders1 .penemu3 .text{
        width: 100%;
    }
    
    .about_section3 .founder .founder1 .founders1 .penemu3 h1{
        display: flex;
        font-family: 'Inter';   
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #1A202C;
    }
    
    .about_section3 .founder .founder1 .founders1 .penemu3 .image1 {
        box-sizing: border-box;
        width: 185px;
        height: 180px;
        background: #EDF0F7;
        border: 2px solid #2D3648;
        border-radius: 28px;
        flex: none;
        order: 0;
        flex-grow: 0;
    } 

/*  */
.about_section3 .founder .founder2 .founders2 .penemu2{
margin-top: 3%;
float: left;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px;
gap: 24px;
width: 48%;
height: 204px;
box-shadow: 8px 8px 32px rgba(113, 125, 150, 0.5);
border-radius: 28px;
flex: none;
order: 0;
flex-grow: 0;
margin-left: 2%;
    }
    
    
    .about_section3 .founder .founder2 .founders2 .penemu2 h1{
        display: flex;
        font-family: 'Inter';   
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #1A202C;
    }
    
    .about_section3 .founder .founder2 .founders2 .penemu2 .image1 {
        box-sizing: border-box;
        width: 185px;
        height: 180px;
        background: #EDF0F7;
        border: 2px solid #2D3648;
        border-radius: 28px;
        flex: none;
        order: 0;
        flex-grow: 0;
    } 
/*  */


.about_section3 .founder .founder2 .founders2 .penemu4{
    margin-top: 3%;
    margin-right: -6%;
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 24px;
    width: 48%;
    height: 204px;
    box-shadow: 8px 8px 32px rgba(113, 125, 150, 0.5);
    border-radius: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
    }
    
    
    .about_section3 .founder .founder2 .founders2 .penemu4 h1{
        display: flex;
        font-family: 'Inter';   
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: #1A202C;
    }
    
    .about_section3 .founder .founder2 .founders2 .penemu4 .image1 {
        box-sizing: border-box;
        width: 185px;
        height: 180px;
        background: #EDF0F7;
        border: 2px solid #2D3648;
        border-radius: 28px;
        flex: none;
        order: 0;
        flex-grow: 0;
    } 

/*  */
.about_section4 {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 64px;
    position: absolute;
    width: 100%;
    height: 800px;
    left: center;
    top: 2650px;
}

.about_section4 .gambar {
box-sizing: border-box;
width: 25%;
height: 260px;
background: #EDF0F7;
/* border: 2px solid #2D3648; */
border-radius: 8px;
flex: none;
order: 0;
flex-grow: 0;
}

.about_section4 .text {
    width: 50%;
}

.about_section4 .text h1{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 120%;
text-align: center;
letter-spacing: 0.01em;

color: #1A202C;

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.about_section4 .text {
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 120%;

text-align: center;
letter-spacing: -0.01em;
font-feature-settings: 'calt' off;
color: #1A202C;
flex: none;
flex-grow: 0;

}

/*  */
.about_section4 .kembali {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 24px;
gap: 8px;

width: 350px;
height: 56px;
background: #2D3648;
border-radius: 8px;
flex: none;
order: 1;
flex-grow: 0;
}

.about_section4 .kembali a{
text-decoration: none;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;


letter-spacing: -0.01em;
font-feature-settings: 'calt' off;
color: #FFFFFF;
flex: none;
order: 1;
flex-grow: 0;
}

.about_section4 .gambar img{
width: 100%;
height: 116%;
}


/*  */
.footer {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
top: 4900px;

position: relative;
width: 100%;
height: 150px;
background: #1A202C;
}

.footer .logo {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; 
    padding: 0px;
    margin-left: 0%;
    width: 90%;
    height: 50px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer .logo .logokebi{
    margin-left: 0%;
    width: 100px;
}
.footer .logo .logokebi p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 12px 44px; */
    gap: 10px;
    
    width: 150px;
    height: 48px;
    
    /* WF Base/400 ⦿ */
    
    background: #CBD2E0;
    border-radius: 4px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer .logo .logonormal {
    width: 75%;
}

.footer .logo .logonormal img{
display: flex;
float: right;
flex-direction: row;
margin-right: 2%;
padding: 0px;
border-radius: 50%;
flex: none;
order: 0;
flex-grow: 0;
}

.footer .logo .logonormal .github{
    width: 48px;
    filter: drop-shadow(8px 8px 32px rgba(74, 84, 104, 0.5));
}
.footer .logo .logonormal .whatsapp{
    width: 48px;
    filter: drop-shadow(8px 8px 32px rgba(74, 84, 104, 0.5));
}
.footer .logo .logonormal .instagram{
    width: 48px;
    filter: drop-shadow(8px 8px 32px rgba(74, 84, 104, 0.5));
}
.footer .logo .logonormal .linkedin{    
    width: 48px;
    filter: drop-shadow(8px 8px 32px rgba(74, 84, 104, 0.5));
}


/*  */

.footer .text {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    
    width: 90%;
    height: 50px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer .text .hakcipta {
    width: 300px;
}
.footer .text .kebijakan {
    float: right;
}

.footer .text .hakcipta p{
float: left;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: -0.01em;
font-feature-settings: 'calt' off;
color: #CBD2E0;
flex: none;
order: 0;
flex-grow: 0;
}

.footer .text .hakcipta {
display: flex;
flex-direction: row;
float: right;
}


.footer .text .kebijakan a{
    text-decoration: none;
    color: #fff;
    padding-left: 10px;
    float: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    }
    
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 100%;
    height: 1862px;
    top: 3700px;
    
}
.faq .isi {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 104px;
    
    width: 100%;
    height: 1241px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.faq .isi .headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
    width: 100%;
    height: 97px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.faq .isi .headline h1{
    width: 100%;
    height: 58px;
    align-self: stretch;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #1A202C;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.faq .isi .headline p{
    width: 100%;
    height: 35px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    letter-spacing: -0.01em;
    font-feature-settings: 'calt' off;
    color: #1A202C;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.faq .QnA{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 24px;
    width: 90%;
    height: 1040px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.about_section4 .kembali :hover{
    transition:0.8s ease;
    color: red;
    border-radius: 8px;
}

.faq .QnA a:hover{
    background: pink;
    transition: background-color 0.8s ease;
    border-radius: 8px;
}

.faq .QnA .Q{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 24px 18px 18px;
    gap: 4px;
    width: 100%;
    height: 80px;
    background: #a5b1c9;
    box-shadow: 8px 8px 32px rgba(113, 125, 150, 0.5);
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
}

.faq .QnA .Q h1{
    width: 90%;
    height: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #1A202C;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-decoration: none;
    
}

.faq .QnA .Q button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 8px; 
    width: 44px;
    height: 44px;
    background: #2D3648;
    border-radius: 50px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.faq .hubungi{
    margin-top: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 41px;
    width: 90%;
    height: 517px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.faq .hubungi .contact_us{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 21px;
    width: 60%;
    height: 517px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.faq .hubungi .contact_us h1{
    
    width: 100%;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    
    letter-spacing: 0.01em;
    color: #1A202C;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.faq .hubungi .contact_us .headbody{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 24px;
    width: 100%;
    height: 448px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.faq .hubungi .contact_us .headbody .isi{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
    
    width: 100%;
    height: 384px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.faq .hubungi .contact_us .isi div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 90%;
    height: 84px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.faq .hubungi .contact_us .isi p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #2D3648;
}

.faq .hubungi .contact_us .isi input{
    box-sizing: border-box;
    width: 100%;
    height: 48px;
    background: #FFFFFF;
    border: 2px solid #CBD2E0;
    box-shadow: 8px 8px 32px rgba(113, 125, 150, 0.5);
    border-radius: 6px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.faq .hubungi .contact_us button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 35px;
    gap: 8px;
    width: 111px;
    height: 40px;
    background: #2D3648;
    box-shadow: 8px 8px 24px rgba(45, 54, 72, 0.5);
    border-radius: 8px;
    flex: none;
    order: 1;   
    flex-grow: 0;
}



.faq .hubungi .box{
    box-sizing: border-box;
    width: 40%;
    height: 380px;
    background: #EDF0F7;
    border: 2px solid #2D3648;
    box-shadow: 8px 8px 32px rgba(113, 125, 150, 0.5);
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.faq .hubungi .box img{
width: 100%;
height: 116%;
}

















}